[submodule "Protocol"]
	path = Protocol
	url = https://github.com/MyTooliT/Protocol.git
[submodule "State Machines"]
	path = Diagrams
	url = https://github.com/MyTooliT/State-Machines.git
[submodule "Testing"]
	path = Testing
	url = https://github.com/MyTooliT/Testing.git
[submodule "EEPROM"]
	path = EEPROM
	url = https://github.com/MyTooliT/EEPROM.git
